body {
  font-family: Arial;
  text-align: center;
  background: #222;
  color: white;
}

.container {
  margin-top: 100px;
}

input, button {
  padding: 15px;
  margin: 15px;
}

#result {
  margin-top: 20px;
  font-size: 19px;
}
